.ticket {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}
.ticket__route {
  padding-top: 10px;
  padding-bottom: 10px;
}
